@media screen and (max-width: 780px) {
  



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
/* outline: 2px solid red; */


}



body{
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}




#iconsalao{
  height: 7dvh;
 /* box-shadow: 0px 1px 20px #C9A24D;*/
  border-radius: 50%;
  transform: translateX(20%);
  }
header{
  background-color: #1A1A1A;
  width: 100%;
  height: 9%;
  padding: 1dvh;
 position: fixed;
 z-index: 10000;
 display: grid;
}
  a{
    text-decoration: none;
    color: #C9A24D;
  }

#P{
  list-style: none;
  padding: 0;
  text-align: center;
  color: #C9A24D;
  font-family: 'Montserrat', sans-serif;
  transform: translate(15%, -12.5%);
  width: 100%;
 

}


#P p{
   font-weight: lighter;
   font-family: 'Montserrat', sans-serif;
   font-size: 65%;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  
  

}

main{
  background-color: #fff;
  height: 170rem;
}

.mainbar{
 background: linear-gradient(0deg, rgba(240, 215, 215, 1) 39%, rgba(255, 200, 82, 1) 80%);
 background-image: url(Roby_Salao_Beleza-3774.jpg);
  background-size: cover;
 background-attachment: fixed;
  height: 35rem;

}

.mainbar > h1, h3{
  position: relative;
  font-size: 150%;
  position: relative;
  font-weight: bold;
  width: 90%;
   transform: translate(5%, -250%);

}
.serviços{
position: relative;
top: 2rem;
}

.mainbar h3{

   transform: translate(5%, -1000%);
}

#h1s{
   font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1A1A1A;

}

#ps{
  text-indent: 2%;
   font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1A1A1A;
  font-size: 12px;
}




#loira{
  width: 40dvh;
  transform: translate(30%, 66.5%);
}

#scp{
    font-family: 'Cormorant Garamond', serif;
  position: relative;
  top: -3rem;
  left: 2%;
  border: 1px solid black;
  padding: 3px;
  width: 43%;
  text-align: left;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  text-indent: 2px;
  
}

.serviços h1{
background-color: #f0d7d7;
   font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1A1A1A;
  font-size: 16px;
  text-indent: 2dvw;
  position: relative;
  top: 9dvh;
  padding: 3px;
  border-top: 1px solid black;

}

.tables{
background-color: #fff;
position: relative;
top: 16vh;
border-collapse: collapse;
font-family: 'Montserrat', sans-serif;
width: 90%;
left: 5dvw;
border-left: 1px solid #C9A24D;
border-right: 1px solid #C9A24D;
border-bottom: 1px solid #C9A24D;
font-size: 13px;

}

td{
  padding: 10px;
}



th{
  background-color: #4f4848;
  padding: 5px;
  padding-top: 24px;
  color: #C9A24D;
}

nav{
position: relative;
bottom: -125vh;
}

nav h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #C9A24D;
  padding: 10px;
  width: 70%;
  left: 13%;
  border-radius: 10px;
}

#nos{
  position: relative;
  bottom: -120dvh;
  background-repeat: no-repeat;
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  border: 1px solid #c9a24d;
  background-image: url(es.png);
  background-size: 158%;
  

}

#nos h1{
font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
background-color: #f0d7d7;
font-size: 20px;
text-indent: 2dvw;
}
iframe{
  position: relative;
  bottom: -10dvh;
  left: 10%;

}

#seta{
   transform: rotate(90deg);
   position: relative;
   bottom: -15dvh;
   left: 45%;
   animation: seta 0.8s alternate infinite;
   width: 15%;
}

@keyframes seta {

 from {
    position: relative;
    bottom: -15dvh;
  }
  to {
    position: relative;
    bottom: -16dvh;
  }
}
 
a img{
  position: relative;
  bottom: -138dvh;
  left: 32%;
  background-color: #E8D6C3;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}

#contato{
  position: relative;
  bottom: -dvh;
}
#contato h1{
  
  border: 1px solid #c9a24d;
}

#emt{
  width: 10%;
animation: zap 1.5s  alternate infinite;
}

@keyframes zap {
  from {
      position: relative;
  bottom: -138dvh;
  left: 32%;
  background-color: #E8D6C3;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;

  }
    to{
         position: relative;
  bottom: -138dvh;
  left: 32%;
  background-color: #c9a24d;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  }

  to{
         position: relative;
  bottom: -138dvh;
  left: 32%;
  background-color: #272522;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgb(50, 49, 49),
  2px 2px 2px rgb(23, 22, 22),
  2px 2px px rgb(0, 0, 0);
  }
}

footer{
  background-color: #000000;
  border-top: 1.5px solid #c9a24d;
  color: #E8D6C3;
  padding: 1.7vh;
  width: auto;
  
}

html, body {
  overflow-x: hidden;
}


}

